.btn {
  padding: 10px 24px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #343434;
  background-color: #FFFFFF;
}

.btn-primary {
  background-color: #3A6EA5;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #356497;
}

.btn-primary:focus {
  background-color: #284b71;
}

.btn-primary:disabled {
  opacity: .5;
  cursor: default;
}

.btn-secondary {
  background-color: #FFB870;
}

.btn-default {
  background-color: #DEDEDE;
}