.btn {
  padding: 10px 24px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #343434;
  background-color: #FFFFFF;
}

.btn:disabled {
  opacity: .5;
  cursor: default;
}


.btn-primary {
  background-color: #3A6EA5;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #356497;
}

.btn-primary:focus {
  background-color: #284b71;
}


.btn-secondary {
  background-color: #FFB870;
}

.btn-secondary:hover {
  background-color: #ffab57;
}

.btn-secondary:focus {
  background-color: #ff9933;
}


.btn-default {
  background-color: #DEDEDE;
}
.btn-default:hover {
  background-color: #c3c2c2;
}

.btn-default:focus {
  background-color: #b0b0b0;
}


.btn-outline {
  border: 1px solid #343434;
  background-color: transparent;
}
.btn-outline:hover {
  border-color: #3A6EA5;
  color: #3A6EA5;
}

.btn-outline:focus {
  border-color: #3A6EA5;
  color: #3A6EA5;
  background-color: #ededed;
}