.side-bar-wrapper {
  display: flex;
}

.side-bar-wrapper .side-bar {
  height: 400px; /* or 100vh */
  width: 20%;
  background-color: #ffffff;
}

.side-bar-wrapper .main-content {
  height: 400px; /* or 100vh */
  width: 80%;
  background-color: #bfdcec;
}