.hide {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}

section {
  margin-bottom: 100px;
}

.main-wrapper {
  min-height: 100vh;
  padding: 50px 5%;
  background-color: #f8f8f8;
  color: #343434;

  .title {
    font-size: 3rem;
    font-weight: 500;
  }

  .sub-title {
    font-size: 2rem;
    font-weight: 500;
  }

  .sub-section {
    margin-top: 50px;
    padding: 0 0 0 5%;
  }

  .view-code button {
    height: 34px;
    width: 100px;
    font-size: 1.15rem;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    font-weight: 500;
    font-family: inherit;
  }

  .view-code button:hover {
    opacity: .75;
  }
}