.main-wrapper {
  min-height: 100vh;
  padding: 50px 5%;
  background-color: #f8f8f8;
  color: #343434;

  .title {
    font-size: 3rem;
    font-weight: 500;
  }

  .sub-title {
    font-size: 2rem;
    font-weight: 500;
  }

  .sub-section {
    margin-top: 50px;
    padding: 0 0 0 5%;
  }
}