@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Black.ttf");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather/Merriweather-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather/Merriweather-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather/Merriweather-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather/Merriweather-Italic.ttf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather/Merriweather-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather/Merriweather-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather/Merriweather-Black.ttf");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather/Merriweather-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Italic.ttf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  list-style-image: none;
  list-style-type: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input,
textarea {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

:root {
  font-size: 12px;
  font-family: Montserrat, sans-serif; }

.general-modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.26);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 3; }

.general-modal {
  display: grid;
  grid-template-columns: 1fr;
  width: 400px;
  background-color: #fff; }
  .general-modal header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 15px;
    border-bottom: 1px solid #e0e0e0; }
    .general-modal header h1 {
      font-size: 1.35rem;
      font-weight: 500;
      text-transform: capitalize; }
    .general-modal header .close-btn {
      display: flex;
      height: 25px;
      width: 25px;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;
      opacity: .65; }
      .general-modal header .close-btn .x {
        height: 15px;
        width: 2px;
        background-color: #4e4e4e;
        transform: rotateZ(45deg); }
      .general-modal header .close-btn .x:before {
        content: '';
        display: block;
        height: 15px;
        width: 2px;
        background-color: #4e4e4e;
        transform: rotateZ(-90deg); }
    .general-modal header .close-btn:hover {
      opacity: 1; }
  .general-modal .code-wrapper {
    padding: 20px; }
  .general-modal code {
    padding: 3%;
    overflow: visible; }
  .general-modal .tabs {
    display: flex; }
    .general-modal .tabs button {
      position: relative;
      padding: 8px 16px;
      font-size: 1.15rem;
      border: none;
      border-left: 1px solid #d3d3d3;
      border-top: 1px solid #d3d3d3;
      background-color: #fff; }
    .general-modal .tabs button:last-child {
      border-right: 1px solid #d3d3d3; }
    .general-modal .tabs button.active {
      background-color: #f0f0f0; }
    .general-modal .tabs button.active:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #f0f0f0;
      bottom: -2px;
      left: 0; }
  .general-modal .tab-content {
    height: 325px;
    max-width: 360px;
    overflow-y: auto;
    border: 1px solid #d3d3d3;
    background-color: #f0f0f0; }

.modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.26);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 3; }

.modal {
  display: grid;
  grid-template-columns: 1fr;
  width: 400px;
  background-color: #fff; }

.modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px;
  border-bottom: 1px solid #e0e0e0; }

.modal header h1 {
  font-size: 1.35rem;
  font-weight: 500;
  text-transform: capitalize; }

.modal .close-btn {
  display: flex;
  height: 25px;
  width: 25px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  opacity: .65; }

.modal .close-btn:hover {
  opacity: 1; }

.modal .close-btn .x {
  height: 15px;
  width: 2px;
  background-color: #4e4e4e;
  transform: rotateZ(45deg); }

.modal .close-btn .x:before {
  content: '';
  display: block;
  height: 15px;
  width: 2px;
  background-color: #4e4e4e;
  transform: rotateZ(-90deg); }

.modal .modal-body {
  padding: 20px; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  --main-width: 120px; }

.tooltip .tooltip-text {
  visibility: hidden;
  width: var(--main-width);
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s; }

.tooltip.top .tooltip-text {
  bottom: 125%;
  left: 50%;
  margin-left: calc(-1 *(var(--main-width) / 2)); }

.tooltip.right .tooltip-text {
  top: -5px;
  left: 110%; }

.tooltip.bottom .tooltip-text {
  top: 125%;
  left: 50%;
  margin-left: calc(-1 *(var(--main-width) / 2)); }

.tooltip.left .tooltip-text {
  top: -5px;
  right: 110%; }

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  border-style: solid; }

.tooltip.top .tooltip-text::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: #555 transparent transparent transparent; }

.tooltip.right .tooltip-text::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent #555 transparent transparent; }

.tooltip.bottom .tooltip-text::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent #555 transparent; }

.tooltip.left .tooltip-text::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent transparent transparent #555; }

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1; }

.hide {
  display: none !important; }

.no-scroll {
  overflow: hidden; }

section {
  margin-bottom: 100px; }

.main-wrapper {
  min-height: 100vh;
  padding: 50px 5%;
  background-color: #f8f8f8;
  color: #343434; }
  .main-wrapper .title {
    font-size: 3rem;
    font-weight: 500; }
  .main-wrapper .sub-title {
    font-size: 2rem;
    font-weight: 500; }
  .main-wrapper .sub-section {
    margin-top: 50px;
    padding: 0 0 0 5%; }
  .main-wrapper .view-code button {
    height: 34px;
    width: 100px;
    font-size: 1.15rem;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    font-weight: 500;
    font-family: inherit; }
  .main-wrapper .view-code button:hover {
    opacity: .75; }

.typography-sec .font-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 135px);
  gap: 2vmin;
  padding-top: 20px; }
  .typography-sec .font-card-wrapper .view-code {
    position: relative;
    height: 34px;
    width: 100%;
    margin-bottom: 10px; }
    .typography-sec .font-card-wrapper .view-code button {
      position: absolute;
      left: 0;
      right: 0;
      display: none;
      margin: 10px auto 0; }
  .typography-sec .font-card-wrapper .font-item:hover .view-code button {
    display: block; }
  .typography-sec .font-card-wrapper .card-short {
    padding: 10px;
    display: grid;
    gap: 2vmin;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14);
    background-color: #fff;
    border-radius: 5px; }
    .typography-sec .font-card-wrapper .card-short h1 {
      text-align: center;
      font-size: 4rem; }
  .typography-sec .font-card-wrapper .details {
    display: grid;
    gap: 1vmin; }
    .typography-sec .font-card-wrapper .details div {
      display: flex;
      justify-content: space-between; }
    .typography-sec .font-card-wrapper .details p {
      font-size: 1.1rem; }

.typography-sec .cards-wrapper {
  display: inline-block;
  padding: 25px 0; }
  .typography-sec .cards-wrapper .view-code {
    position: relative;
    height: 34px;
    width: 100px;
    margin-left: 10px; }
    .typography-sec .cards-wrapper .view-code button {
      display: none;
      position: absolute;
      right: 0; }

.typography-sec .card-long {
  position: relative;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14);
  background-color: #fff;
  border-radius: 8px; }
  .typography-sec .card-long .other {
    max-width: 500px; }
    .typography-sec .card-long .other p {
      font-size: 14px;
      line-height: 19px;
      font-weight: 400; }
    .typography-sec .card-long .other label {
      font-size: 16px;
      font-weight: 500; }
  .typography-sec .card-long .lower-details {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0; }
    .typography-sec .card-long .lower-details p {
      font-size: 1.15rem;
      text-transform: uppercase;
      font-weight: 500;
      color: #767676; }

.typography-sec .row {
  display: flex;
  align-items: center; }

.typography-sec .row:not(:first-child) {
  margin-top: 20px; }

.typography-sec .row:hover .view-code button {
  display: block; }

.typography-sec h1 {
  font-size: 36px;
  font-weight: 600; }

.typography-sec h2 {
  font-size: 30px;
  font-weight: 600; }

.typography-sec h3 {
  font-size: 27px;
  font-weight: 600; }

.typography-sec h4 {
  font-size: 24px;
  font-weight: 500; }

.typography-sec h5 {
  font-size: 21px;
  font-weight: 500; }

.typography-sec h6 {
  font-size: 18px;
  font-weight: 500; }

.colors-sec .colors-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 5vmin;
  padding-top: 20px; }
  .colors-sec .colors-card-wrapper .view-code {
    position: relative;
    height: 34px;
    width: 100%;
    margin-bottom: 10px; }
    .colors-sec .colors-card-wrapper .view-code button {
      position: absolute;
      left: 0;
      right: 0;
      display: none;
      margin: 10px auto 0; }
  .colors-sec .colors-card-wrapper .color-item:hover .view-code button {
    display: block; }
  .colors-sec .colors-card-wrapper .card-short {
    display: grid;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14);
    background-color: #fff;
    border-radius: 5px; }
  .colors-sec .colors-card-wrapper .color {
    height: 150px;
    border-radius: 5px 5px 0 0; }
  .colors-sec .colors-card-wrapper .details {
    display: grid;
    gap: 1vmin;
    padding: 15px 10px; }
    .colors-sec .colors-card-wrapper .details div {
      display: grid;
      gap: 1vmin; }
    .colors-sec .colors-card-wrapper .details p {
      font-size: 1.1rem;
      font-weight: 500; }
    .colors-sec .colors-card-wrapper .details p:first-child {
      font-weight: 600; }
    .colors-sec .colors-card-wrapper .details p:nth-child(2) {
      text-transform: uppercase; }

.icon-sec .icon-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 125px);
  gap: 3vmin;
  padding-top: 20px; }
  .icon-sec .icon-card-wrapper .view-code {
    position: relative;
    height: 34px;
    width: 100%;
    margin-bottom: 10px; }
    .icon-sec .icon-card-wrapper .view-code button {
      position: absolute;
      left: 0;
      right: 0;
      display: none;
      margin: 10px auto 0; }
  .icon-sec .icon-card-wrapper .icon-item:hover .view-code button {
    display: block; }
  .icon-sec .icon-card-wrapper .card {
    display: grid;
    justify-content: center;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14);
    background-color: #fff;
    border-radius: 5px;
    padding: 17px 0px;
    gap: 2vmin; }
  .icon-sec .icon-card-wrapper div.icon {
    margin: 0 auto;
    height: 40px;
    width: 40px; }
  .icon-sec .icon-card-wrapper .icon {
    height: 24px;
    width: 24px; }
  .icon-sec .icon-card-wrapper .icon svg {
    height: 100%;
    width: 100%;
    fill: #343434; }
  .icon-sec .icon-card-wrapper .details {
    display: grid;
    text-align: center; }
    .icon-sec .icon-card-wrapper .details div {
      display: grid;
      gap: 1vmin; }
    .icon-sec .icon-card-wrapper .details p {
      font-size: 1rem;
      font-weight: 500; }
    .icon-sec .icon-card-wrapper .details p:first-child {
      font-weight: 600; }
    .icon-sec .icon-card-wrapper .details p:nth-child(2) {
      text-transform: uppercase; }

.alerts-sec .alert-wrapper {
  display: grid;
  gap: 2.25vmin;
  padding-top: 20px; }
  .alerts-sec .alert-wrapper .view-code {
    position: relative;
    height: 34px;
    width: 100%;
    margin-bottom: 10px; }
    .alerts-sec .alert-wrapper .view-code button {
      position: absolute;
      left: 0;
      display: none;
      margin: 10px auto 0; }
  .alerts-sec .alert-wrapper .alert-item:hover .view-code button {
    display: block; }
  .alerts-sec .alert-wrapper .alert {
    display: flex;
    max-width: 650px;
    width: 100%; }
  .alerts-sec .alert-wrapper .alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.17); }
  .alerts-sec .alert-wrapper .alert p {
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #262626; }
  .alerts-sec .alert-wrapper .alert .close-alert {
    border: none;
    background-color: transparent;
    opacity: 0.5; }
  .alerts-sec .alert-wrapper .alert .close-alert:hover {
    opacity: 1; }
  .alerts-sec .alert-wrapper .alert .close-alert .icon {
    display: block;
    height: 24px;
    width: 24px; }
  .alerts-sec .alert-wrapper .alert .close-alert .icon svg {
    height: 100%;
    width: 100%;
    fill: #262626; }
  .alerts-sec .alert-wrapper .alert-success {
    background-color: #69dd96; }
  .alerts-sec .alert-wrapper .alert-info {
    background-color: #89CAFF; }
  .alerts-sec .alert-wrapper .alert-warning {
    background-color: #F5C95D; }
  .alerts-sec .alert-wrapper .alert-error {
    background-color: #F26175; }

.buttons-sec .sub-section:not(:nth-child(2)) {
  margin-top: 30px; }

.buttons-sec .buttons-wrapper {
  padding-top: 20px; }
  .buttons-sec .buttons-wrapper .view-code {
    position: relative;
    height: 34px;
    width: 100%;
    margin-bottom: 10px; }
    .buttons-sec .buttons-wrapper .view-code button {
      position: absolute;
      left: 0;
      right: 0;
      display: none;
      margin: 10px auto 0; }
  .buttons-sec .buttons-wrapper .button-item:hover .view-code button {
    display: block; }
  .buttons-sec .buttons-wrapper .button-item {
    display: inline-block;
    margin-right: 20px; }
    .buttons-sec .buttons-wrapper .button-item .btn {
      letter-spacing: 0.5px; }
  .buttons-sec .buttons-wrapper .button-item:nth-child(2) .btn-primary {
    background-color: #356497; }
  .buttons-sec .buttons-wrapper .button-item:nth-child(3) .btn-primary {
    background-color: #284b71; }
  .buttons-sec .buttons-wrapper .button-item:nth-child(2) .btn-secondary {
    background-color: #ffab57; }
  .buttons-sec .buttons-wrapper .button-item:nth-child(3) .btn-secondary {
    background-color: #ff9933; }
  .buttons-sec .buttons-wrapper .button-item:nth-child(2) .btn-default {
    background-color: #c3c2c2; }
  .buttons-sec .buttons-wrapper .button-item:nth-child(3) .btn-default {
    background-color: #b0b0b0; }
  .buttons-sec .buttons-wrapper .button-item:nth-child(2) .btn-outline {
    border-color: #3A6EA5;
    color: #3A6EA5; }
  .buttons-sec .buttons-wrapper .button-item:nth-child(3) .btn-outline {
    border-color: #3A6EA5;
    color: #3A6EA5;
    background-color: #ededed; }
  .buttons-sec .buttons-wrapper .button-item:nth-child(2) .btn-transparent {
    background-color: transparent;
    color: #535353; }
  .buttons-sec .buttons-wrapper .button-item:nth-child(3) .btn-transparent {
    color: #343434; }
  .buttons-sec .buttons-wrapper .button-item:nth-child(4) .btn {
    opacity: .5;
    cursor: default; }

.buttons-sec .btn {
  padding: 10px 24px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #343434;
  background-color: #FFFFFF; }

.buttons-sec .btn:disabled {
  opacity: .5;
  cursor: default; }

.buttons-sec .btn-primary {
  background-color: #3A6EA5;
  color: #ffffff; }

.buttons-sec .btn-primary:hover {
  background-color: #356497; }

.buttons-sec .btn-primary:focus {
  background-color: #284b71; }

.buttons-sec .btn-secondary {
  background-color: #FFB870; }

.buttons-sec .btn-secondary:hover {
  background-color: #ffab57; }

.buttons-sec .btn-secondary:focus {
  background-color: #ff9933; }

.buttons-sec .btn-default {
  background-color: #DEDEDE; }

.buttons-sec .btn-default:hover {
  background-color: #c3c2c2; }

.buttons-sec .btn-default:focus {
  background-color: #b0b0b0; }

.buttons-sec .btn-outline {
  border: 1px solid #343434;
  background-color: transparent; }

.buttons-sec .btn-outline:hover {
  border-color: #3A6EA5;
  color: #3A6EA5; }

.buttons-sec .btn-outline:focus {
  border-color: #3A6EA5;
  color: #3A6EA5;
  background-color: #ededed; }

.buttons-sec .btn-transparent {
  background-color: transparent;
  color: #727272; }

.buttons-sec .btn-transparent:hover {
  color: #535353; }

.buttons-sec .btn-transparent:focus {
  color: #343434; }

.form-inputs-sec .sub-section:not(:nth-child(2)) {
  margin-top: 30px; }

.form-inputs-sec .form-input-wrapper {
  padding-top: 20px; }
  .form-inputs-sec .form-input-wrapper .view-code {
    position: relative;
    height: 34px;
    width: 100%;
    margin-bottom: 10px; }
    .form-inputs-sec .form-input-wrapper .view-code button {
      position: absolute;
      left: 0;
      display: none;
      margin: 10px auto 0; }
  .form-inputs-sec .form-input-wrapper .form-input-item:hover .view-code button {
    display: block; }
  .form-inputs-sec .form-input-wrapper .form-input-item {
    display: inline-block; }
  .form-inputs-sec .form-input-wrapper .box-area {
    padding: 20px 15px;
    background-color: #fff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.17); }
    .form-inputs-sec .form-input-wrapper .box-area .checkbox:nth-child(2) input[type="checkbox"] + label::before {
      border-color: #3A6EA5;
      color: #3A6EA5; }
    .form-inputs-sec .form-input-wrapper .box-area .checkbox:nth-child(2) input[type="checkbox"] + label {
      color: #3A6EA5; }
    .form-inputs-sec .form-input-wrapper .box-area .radio:nth-child(2) input + span:before {
      background-color: #48a1ff; }
    .form-inputs-sec .form-input-wrapper .box-area input[type="text"] {
      display: block; }
    .form-inputs-sec .form-input-wrapper .box-area input[type="text"]:not(:last-child) {
      margin-bottom: 30px; }
  .form-inputs-sec .form-input-wrapper .toggle-switch-wrapper {
    display: flex;
    align-items: center; }
    .form-inputs-sec .form-input-wrapper .toggle-switch-wrapper p {
      font-size: 16px;
      font-weight: 500;
      margin-left: 10px; }
  .form-inputs-sec .form-input-wrapper .toggle-switch-wrapper:not(:last-child) {
    margin-bottom: 15px; }
  .form-inputs-sec .form-input-wrapper .password-wrapper:not(:last-child) {
    margin-bottom: 15px; }
  .form-inputs-sec .form-input-wrapper .custom-select {
    width: 300px; }

.form-inputs-sec .checkbox {
  height: 18px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  user-select: none; }

.form-inputs-sec .checkbox:not(:last-child):not(.checkbox-inline) {
  margin-bottom: 15px; }

.form-inputs-sec .checkbox-inline {
  display: inline-flex; }

.form-inputs-sec .checkbox-inline:not(:last-child) {
  margin-right: 15px; }

.form-inputs-sec .checkbox input[type="checkbox"] {
  position: absolute;
  left: -9999px;
  opacity: 0; }

.form-inputs-sec .checkbox label {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  padding-left: 30px;
  cursor: pointer; }

.form-inputs-sec .checkbox label::before,
.form-inputs-sec .checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block; }

.form-inputs-sec .checkbox label::before {
  height: 18px;
  width: 18px;
  border: 1px solid #343434;
  left: 0px;
  top: 0px;
  box-sizing: border-box; }

.form-inputs-sec .checkbox label::before:hover {
  border-color: #3A6EA5; }

.form-inputs-sec .checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
  left: 4px;
  top: 4px; }

.form-inputs-sec .checkbox input[type="checkbox"] + label::after {
  content: none; }

.form-inputs-sec .checkbox input[type="checkbox"]:checked + label::after {
  content: ""; }

.form-inputs-sec .checkbox input[type="checkbox"]:checked + label::before {
  background-color: #3A6EA5;
  border-color: #3A6EA5; }

.form-inputs-sec .checkbox input[type="checkbox"]:disabled + label::before,
.form-inputs-sec .checkbox input[type="checkbox"]:disabled + label::after {
  opacity: .35; }

.form-inputs-sec .checkbox input[type="checkbox"]:hover:not(:disabled) + label::before {
  border-color: #3A6EA5; }

.form-inputs-sec .checkbox input[type="checkbox"]:hover:not(:disabled) + label {
  color: #3A6EA5; }

.form-inputs-sec .radio {
  display: block;
  cursor: pointer;
  user-select: none; }

.form-inputs-sec .radio:not(:last-child):not(.radio-inline) {
  margin-bottom: 15px; }

.form-inputs-sec .radio-inline {
  display: inline-flex; }

.form-inputs-sec .radio-inline:not(:last-child) {
  margin-right: 15px; }

.form-inputs-sec .radio input {
  display: none; }

.form-inputs-sec .radio input + span {
  line-height: 22px;
  height: 22px;
  padding-left: 22px;
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 500; }

.form-inputs-sec .radio input + span:not(:empty) {
  padding-left: 30px; }

.form-inputs-sec .radio input + span:before,
.form-inputs-sec .radio input + span:after {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute; }

.form-inputs-sec .radio input:disabled + span:before,
.form-inputs-sec .radio input:disabled + span:after {
  opacity: .5; }

.form-inputs-sec .radio input + span:before {
  background-color: #D1D7E3; }

.form-inputs-sec .radio input + span:after {
  background-color: #fff;
  transform: scale(0.74); }

.form-inputs-sec .radio input:checked + span:before {
  background-color: #48a1ff; }

.form-inputs-sec .radio input:checked + span:after {
  transform: scale(0.4);
  transition: transform .3s ease; }

.form-inputs-sec .radio:hover input:not(:disabled) + span:before {
  background-color: #48a1ff; }

.form-inputs-sec .radio:hover input:checked + span:before {
  background-color: #48a1ff; }

.form-inputs-sec .radio:hover input:checked + span:after {
  transform: scale(0.4); }

.form-inputs-sec .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
  user-select: none; }

.form-inputs-sec .switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.form-inputs-sec .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.22); }

.form-inputs-sec .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

.form-inputs-sec input:checked + .slider {
  background-color: #48a1ff; }

.form-inputs-sec input:disabled + .slider {
  opacity: .5; }

.form-inputs-sec input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px); }

.form-inputs-sec .slider.round {
  border-radius: 26px; }

.form-inputs-sec .slider.round:before {
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.29); }

.form-inputs-sec .default-input,
.form-inputs-sec .border-input {
  height: 38px;
  width: 300px;
  border-radius: 5px;
  text-indent: 10px;
  font-size: 17px;
  font-family: inherit;
  color: #343434; }

.form-inputs-sec .border-input {
  border: 1px solid #b2b2b2; }

.form-inputs-sec .border-input:hover,
.form-inputs-sec .border-input:focus {
  border-color: #48a1ff;
  background-color: #ffffff; }

.form-inputs-sec .default-input {
  opacity: .85;
  background-color: #f5f5f5;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.19); }

.form-inputs-sec .default-input:hover,
.form-inputs-sec .default-input:focus {
  opacity: 1; }

.form-inputs-sec .default-input::placeholder,
.form-inputs-sec .border-input::placeholder {
  color: #9b9b9b; }

.form-inputs-sec .default-input.error,
.form-inputs-sec .border-input.error {
  background-color: #f7f1f2;
  border: 1px solid #F26175;
  box-shadow: none; }

.form-inputs-sec .default-input.success,
.form-inputs-sec .border-input.success {
  background-color: #eef6f1;
  border: 1px solid #69dd96;
  box-shadow: none; }

.form-inputs-sec .default-input:disabled,
.form-inputs-sec .border-input:disabled {
  opacity: 1;
  background-color: #dfdfdf;
  box-shadow: none; }

.form-inputs-sec .search-wrapper {
  display: flex;
  position: relative;
  box-sizing: border-box;
  height: 40px;
  width: 300px;
  border: 1px solid #d6d6d6;
  border-radius: 5px; }

.form-inputs-sec .search-wrapper input {
  height: 100%;
  width: calc(100% - 35px);
  text-indent: 37px;
  font-size: 17px;
  font-family: inherit;
  color: #343434;
  border-radius: 5px 0 0 5px; }

.form-inputs-sec .search-wrapper .icon.search {
  position: absolute;
  height: 100%;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center; }

.form-inputs-sec .search-wrapper .icon.search svg {
  height: 22px;
  width: 22px;
  fill: #8c8c8c; }

.form-inputs-sec .search-wrapper .reset-input {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  width: 35px;
  background-color: transparent;
  opacity: .5; }

.form-inputs-sec .search-wrapper input.has-text + .reset-input {
  display: flex; }

.form-inputs-sec .search-wrapper .reset-input:hover {
  opacity: 1; }

.form-inputs-sec .search-wrapper .icon.x {
  height: 18px;
  width: 18px; }

.form-inputs-sec .search-wrapper .icon.x svg {
  height: 18px;
  width: 18px;
  fill: #343434; }

.form-inputs-sec .password-wrapper {
  display: flex;
  position: relative;
  box-sizing: border-box;
  height: 40px;
  width: 300px;
  border: 1px solid #d6d6d6;
  border-radius: 5px; }

.form-inputs-sec .password-wrapper input {
  height: 100%;
  width: calc(100% - 35px);
  text-indent: 15px;
  font-size: 17px;
  font-family: inherit;
  color: #343434;
  border-radius: 5px 0 0 5px; }

.form-inputs-sec .password-wrapper.error {
  border-color: #F26175; }

.form-inputs-sec .password-wrapper.error .view-eye svg {
  fill: #F26175; }

.form-inputs-sec .password-wrapper.error input[type="password"] {
  color: #F26175; }

.form-inputs-sec .password-wrapper input[type="password"] {
  font-family: caption;
  font-size: 24px; }

.form-inputs-sec .password-wrapper input[type="password"]::placeholder {
  font-size: 17px;
  font-family: Montserrat;
  transform: translateY(-2px); }

.form-inputs-sec .password-wrapper .view-eye {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  width: 35px;
  background-color: transparent;
  opacity: .5; }

.form-inputs-sec .password-wrapper .view-eye:hover {
  opacity: 1; }

.form-inputs-sec .password-wrapper .icon {
  height: 18px;
  width: 18px; }

.form-inputs-sec .password-wrapper .icon svg {
  height: 18px;
  width: 18px;
  fill: #343434; }

.form-inputs-sec .password-wrapper .view-eye .visible-on {
  display: block; }

.form-inputs-sec .password-wrapper .view-eye .visible-off {
  display: none; }

.form-inputs-sec .password-wrapper .show-password .visible-on {
  display: none; }

.form-inputs-sec .password-wrapper .show-password .visible-off {
  display: block; }

.form-inputs-sec textarea {
  height: 150px;
  width: 250px;
  resize: none;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  font-size: 17px;
  font-family: inherit;
  color: #343434;
  box-sizing: border-box;
  padding: 5px 10px 0; }

.form-inputs-sec .custom-select {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  background-color: #FFFFFF;
  border: 1px solid #d6d6d6;
  padding: 10px;
  border-radius: 5px;
  min-width: 200px;
  cursor: pointer; }

.form-inputs-sec .custom-select select {
  display: none; }

.form-inputs-sec .custom-select .select-dropdown {
  display: none;
  z-index: 3;
  position: absolute;
  top: 50px;
  left: 0;
  min-width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.17); }

.form-inputs-sec .custom-select li {
  padding: 10px; }

.form-inputs-sec .custom-select li:hover {
  background-color: #F1F1F1; }

.form-inputs-sec .custom-select .arrow-icon {
  height: 28px;
  width: 28px;
  opacity: .5; }

.form-inputs-sec .custom-select svg {
  fill: #343434;
  height: 100%;
  width: 100%; }

.form-inputs-sec .custom-select:hover .arrow-icon {
  opacity: 1; }

.form-inputs-sec .custom-select.open .arrow-icon {
  transform: rotateZ(180deg); }

.form-inputs-sec .custom-select.open .select-dropdown {
  display: block; }

.tooltip-sec .sub-section:not(:nth-child(2)) {
  margin-top: 30px; }

.tooltip-sec .tooltip-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 5vmin;
  padding-top: 20px; }

.tooltip-sec .tooltip-item {
  display: grid;
  gap: 2vmin;
  justify-content: center;
  padding: 20px 15px;
  background-color: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  font-size: 16px;
  text-align: center; }

.tooltip-sec .view-code {
  position: relative;
  height: 34px;
  width: 100%;
  margin-top: 10px; }

.tooltip-sec .view-code button {
  display: none;
  margin: 0 auto 0; }

.tooltip-sec .item:hover .view-code button {
  display: block; }

.navigation-sec .sub-section:not(:nth-child(2)) {
  margin-top: 30px; }

.navigation-sec .navigation-wrapper {
  margin-top: 15px;
  max-width: 950px; }

.navigation-sec .view-code {
  position: relative;
  height: 34px;
  width: 100%;
  margin-top: 10px; }

.navigation-sec .view-code button {
  display: none;
  margin: 0; }

.navigation-sec .navigation-wrapper:hover .view-code button {
  display: block; }

.navigation-sec .tab-content.active {
  padding: 25px; }
  .navigation-sec .tab-content.active h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 15px; }
  .navigation-sec .tab-content.active p {
    font-size: 1.5rem;
    line-height: 2rem; }

.navigation-sec .tabs {
  height: 50px;
  width: 100%;
  background-color: #4c5d83; }

.navigation-sec .tabs button {
  height: 100%;
  padding: 0 25px;
  border: none;
  color: #fff;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500; }

.navigation-sec .tabs button.active {
  background-color: #2c3953; }

.navigation-sec .tab-content {
  display: none; }

.navigation-sec .tab-content.active {
  display: block;
  background-color: #4c5d83;
  color: #fff; }

.navigation-sec header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  background-color: #292929;
  color: #fff; }

.navigation-sec header .logo {
  height: 90%;
  width: 100px; }

.navigation-sec header .logo img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover; }

.navigation-sec header .icon {
  height: 18px;
  width: 18px; }

.navigation-sec header .icon svg {
  height: 100%;
  width: 100%;
  fill: #fff; }

.navigation-sec header .dropdown {
  display: none;
  padding-top: 25px; }

.navigation-sec header .dropdown ul {
  background-color: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14);
  border-radius: 5px; }

.navigation-sec header .nav-wrapper {
  display: inline-flex; }

.navigation-sec header .nav-item {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 0 10px; }

.navigation-sec header .nav-item:hover .dropdown {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto 0; }

.navigation-sec header .nav-item:hover .dropdown-li {
  font-size: 14px;
  padding: 10px;
  color: #343434; }

.navigation-sec header a {
  color: inherit;
  text-decoration: none; }

.navigation-sec header .nav-page {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center; }

.navigation-sec header .join a {
  font-size: 16px;
  font-weight: 600; }

.navigation-sec header .join button {
  border: none;
  font-size: 20px;
  padding: 6px 16px;
  border-radius: 5px;
  margin-left: 5px;
  background-color: #4bffe0;
  font-weight: 500;
  font-family: inherit; }

.navigation-sec footer {
  width: 100%;
  background-color: #292929;
  color: #fff; }

.navigation-sec footer .upper-footer {
  display: grid;
  grid-template-columns: .3fr 1fr;
  align-items: center;
  padding: 75px 25px; }

.navigation-sec footer .lower-footer {
  padding: 25px;
  background-color: #4a4a4a; }

.navigation-sec footer .logo-social {
  display: grid;
  gap: 2vmin;
  justify-content: center; }

.navigation-sec footer .logo-social img {
  height: 75px;
  max-width: 100%;
  object-fit: cover; }

.navigation-sec footer .social-icons {
  display: grid;
  grid-template-columns: 35px 35px 35px;
  justify-content: center;
  align-items: center;
  gap: 1vmin; }

.navigation-sec footer .social-icons .icon {
  height: 30px;
  width: 30px; }

.navigation-sec footer .social-icons svg {
  height: 100%;
  width: 100%;
  fill: #fff; }

.navigation-sec footer .quick-links {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  gap: 6vmin;
  justify-content: center; }

.navigation-sec footer .quick-links h5 {
  font-size: 20px;
  font-weight: 600; }

.navigation-sec footer .quick-links ul {
  margin-top: 10px; }

.navigation-sec footer .quick-links li {
  padding: 10px 0; }

.navigation-sec footer .quick-links a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize; }

.navigation-sec footer .lower-footer {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navigation-sec footer .lower-link-wrapper {
  display: flex; }

.navigation-sec footer .lower-link-wrapper a {
  padding: 0 10px;
  color: inherit;
  text-decoration: none; }

.progress-sec {
  /* Safari */ }
  .progress-sec .sub-section:not(:nth-child(2)) {
    margin-top: 30px; }
  .progress-sec .progress-wrapper {
    margin-top: 15px;
    max-width: 75%; }
  .progress-sec .view-code {
    position: relative;
    height: 34px;
    width: 100%;
    margin-top: 10px; }
  .progress-sec .view-code button {
    display: none;
    margin: 0; }
  .progress-sec .progress-wrapper:hover .view-code button {
    display: block; }
  .progress-sec .loading-wrapper {
    display: flex;
    align-items: center; }
  .progress-sec .loading-spinner:not(:last-child) {
    margin-right: 25px; }
  .progress-sec .progress-bar {
    height: 30px;
    width: 100%;
    background-color: #818181;
    border-radius: 5px; }
  .progress-sec .bar {
    height: 100%;
    width: 0%;
    background-color: #1bceb0; }
  .progress-sec .loading-spinner {
    border: 14px solid #cbcbcb;
    border-radius: 50%;
    border-top: 14px solid #7849ff;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite; }
  .progress-sec .loading-spinner.medium {
    border: 12px solid #cbcbcb;
    border-top: 12px solid #7849ff;
    width: 80px;
    height: 80px; }
  .progress-sec .loading-spinner.small {
    border: 6px solid #cbcbcb;
    border-top: 6px solid #7849ff;
    width: 40px;
    height: 40px; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.modal-sec .sub-section:not(:nth-child(2)) {
  margin-top: 30px; }

.modal-sec .btn-wrapper {
  margin-top: 15px;
  max-width: 950px; }

.modal-sec .view-code {
  position: relative;
  height: 34px;
  width: 100%;
  margin-top: 10px; }

.modal-sec .view-code button {
  display: none;
  margin: 0; }

.modal-sec .btn-wrapper:hover .view-code button {
  display: block; }

.modal-sec .tab-content.active {
  padding: 25px; }
  .modal-sec .tab-content.active h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 15px; }
  .modal-sec .tab-content.active p {
    font-size: 1.5rem;
    line-height: 2rem; }

.modal-sec .open-modal-btn {
  border: none;
  padding: 8px 16px;
  font-size: 2.5rem;
  border-radius: 5px;
  background-color: #3a82ff;
  color: #fff; }

.modal-body p {
  font-size: 2rem;
  line-height: 2.5rem; }

.layout-sec .sub-section:not(:nth-child(2)) {
  margin-top: 30px; }

.layout-sec .layout-wrapper {
  margin-top: 15px; }

.layout-sec .view-code {
  position: relative;
  height: 34px;
  width: 100%;
  margin-top: 10px; }

.layout-sec .view-code button {
  display: none;
  margin: 0; }

.layout-sec .layout-wrapper:hover .view-code button {
  display: block; }

.layout-sec .tab-content.active {
  padding: 25px; }
  .layout-sec .tab-content.active h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 15px; }
  .layout-sec .tab-content.active p {
    font-size: 1.5rem;
    line-height: 2rem; }

.layout-sec .side-bar-wrapper,
.layout-sec .common-landing-wrapper,
.layout-sec .social-wrapper {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14); }

.layout-sec .social-wrapper {
  max-width: 85%; }

.layout-sec .list {
  max-width: 50%; }

.layout-sec .grid-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 2vmin; }

.layout-sec .grid-cards-wrapper .grid-card {
  height: 200px;
  width: 150px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14); }

.layout-sec .side-bar-wrapper {
  display: flex; }

.layout-sec .side-bar-wrapper .side-bar {
  height: 400px;
  /* or 100vh */
  width: 20%;
  background-color: #ffffff; }

.layout-sec .side-bar-wrapper .main-content {
  height: 400px;
  /* or 100vh */
  width: 80%;
  background-color: #bfdcec; }

.layout-sec .list li {
  width: 100%;
  padding: 30px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14); }

.layout-sec .common-landing-wrapper {
  display: grid;
  grid-template-columns: .75fr 1fr;
  justify-items: center;
  align-items: center;
  height: 500px;
  width: 100%;
  background-color: #ffffff; }

.layout-sec .common-landing-wrapper .text-box {
  height: 70%;
  width: 75%;
  background-color: gray; }

.layout-sec .common-landing-wrapper .image-side {
  height: 100%;
  width: 100%;
  background-color: gray; }

.layout-sec .social-wrapper {
  display: grid;
  grid-template-columns: .35fr 1fr .35fr;
  height: 500px;
  width: 100%;
  background-color: #ffffff; }

.layout-sec .social-wrapper .side {
  height: 100%;
  width: 100%; }

.layout-sec .social-wrapper .side.left {
  background-color: #a0a0a0; }

.layout-sec .social-wrapper .side.right {
  background-color: #a0a0a0; }

.layout-sec .social-wrapper .main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a5d6f7; }

.layout-sec .social-wrapper .write-post {
  height: 50px;
  width: 330px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14); }

.layout-sec .social-wrapper .post {
  height: 150px;
  width: 330px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14); }

.layout-sec .social-wrapper .post:not(:last-child) {
  margin-bottom: 15px; }

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  line-height: 16px; }

code.html .hljs-comment .hljs-comment {
  line-height: 16px; }
