.buttons-sec {

  .buttons-wrapper {
    padding-top: 20px;

    .view-code {
      position: relative;
      height: 34px;
      width: 100%;
      margin-bottom: 10px;

      button {
        position: absolute;
        left: 0;
        right: 0;
        display: none;
        margin: 10px auto 0;
      }
    }

    .button-item:hover .view-code button {
      display: block;
    }

    .button-item {
      display: inline-block;
      margin-right: 20px;

      .btn {
        letter-spacing: 0.5px;
      }
    }

    .button-item:nth-child(2) .btn-primary {
      background-color: #356497;
    }

    .button-item:nth-child(3) .btn-primary {
      background-color: #284b71;
    }

    .button-item:nth-child(2) .btn-secondary {
      background-color: #ffab57;
    }

    .button-item:nth-child(3) .btn-secondary {
      background-color: #ff9933;
    }

    .button-item:nth-child(2) .btn-default {
      background-color: #c3c2c2;
    }

    .button-item:nth-child(3) .btn-default {
      background-color: #b0b0b0;
    }

    .button-item:nth-child(4) .btn {
      opacity: .5;
      cursor: default;
    }
  }

  @import '../components/buttons/btns';
}