.typography-sec {
  .cards-wrapper {
    display: inline-block;
    padding: 25px 0;
  }

  .view-code {
    position: absolute;
    top: -39px;
    right: 0;
  }

  .card {
    position: relative;
    padding: 20px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14);
    background-color: #fff;
    border-radius: 8px;

    .lower-details {
      display: flex;
      justify-content: space-between;
      padding: 20px 0 0;

      p {
        font-size: 1.15rem;
        text-transform: uppercase;
        font-weight: 500;
        color: #767676;
      }
    }
  }

  .card:not(:first-child) {
    margin-top: 20px;
  }

  // components - typography
  @import '../components/typography/headings';
}