.typography-sec {
  .cards-wrapper {
    display: inline-block;
    padding: 25px 0;
  }

  .view-code {
    position: relative;
    height: 34px;
    width: $view-code-width;
    margin-left: $view-code-left;

    button {
      display: none;
      position: absolute;
      right: 0;
    }
  }

  .card {
    position: relative;
    min-width: calc(100% - #{$view-code-width + $view-code-left});
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14);
    background-color: #fff;
    border-radius: 8px;

    .lower-details {
      display: flex;
      justify-content: space-between;
      padding: 20px 0 0;

      p {
        font-size: 1.15rem;
        text-transform: uppercase;
        font-weight: 500;
        color: #767676;
      }
    }
  }

  .row {
    display: flex;
    align-items: center;
  }

  .row:not(:first-child) {
    margin-top: 20px;
  }

  .row:hover {
    .view-code button {
      display: block;
    }
  }

  // components - typography
  @import '../components/typography/headings';
}